<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="bg-orange-100 py-3 font-serif">
    <center>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                    <div id="alertDiv" class="mx-6 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">Something went wrong!</strong>
                        <span class="block sm:inline">{{ message }}</span>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                          <svg onclick="document.getElementById('alertDiv').style.display='none'" class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title>
                            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                            </svg>
                        </span>
                    </div>
                    {% else %}
                    <div id="alertDiv" class="mx-6 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">Yayy!</strong>
                        <span class="block sm:inline">{{ message }}</span>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                          <svg onclick="document.getElementById('alertDiv').style.display='none'" class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title>
                            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                            </svg>
                        </span>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}


        {% if current_user.is_authenticated %}
        you're already logged in!<br><br>
        <a href="{{ url_for('user_logout')}}">Logout</a><br>

            {% if current_user.utype == 'User' %}
            <a href="{{ url_for('user_dashboard')}}">Dashboard</a>
            {% else %}
            <a href="{{ url_for('org_dashboard')}}">Dashboard</a>
            {% endif %}

        {% else %}
        <section class="text-black body-font">
            <div class="container px-5 py-20 mx-auto">
              <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-orange-900">Login your way!</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Launch your details and get started quickly.</p>
              </div>

              <form method="POST">
                <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                    <div class="relative flex-grow w-full">
                      <label for="full-name" class="leading-7 text-sm text-orange-900">Username</label>
                      <input type="text" id="username" name="username" required placeholder="Enter username..." class="w-full bg-gray-100 bg-opacity-50 rounded border border-orange-900 focus:border-orange-100 focus:bg-white focus:ring-2 focus:ring-orange-100 text-base outline-none text-black py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <div class="relative flex-grow w-full">
                      <label for="email" class="leading-7 text-sm text-orange-900">Password</label>
                      <input type="password" id="pwd1" name="pwd1" required placeholder="Enter password..." class="w-full bg-gray-100 bg-opacity-50 rounded border border-orange-900 focus:border-orange-100 focus:bg-white focus:ring-2 focus:ring-orange-100 text-base outline-none text-black py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    
                  </div>
                  <button type="submit" class="text-white bg-orange-900 border-0 py-1 px-8 mt-10 focus:outline-none hover:bg-orange-800 rounded-full text-lg">Login</button>
              </form>

              <div class="py-8 ">
                <a href="{{ url_for('landingPage') }}" class="hover:bg-orange-50 py-2 px-8 bg-white text-orange-900 rounded-full">Go back to HOME?</a>
              </div>
              
              
            </div>
          </section>

        {% endif %}

        <footer class="text-orange-900 body-font mt-auto ">
            <div class="container px-5 py-2 mx-auto flex items-center sm:flex-row flex-col">
              <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="static/images/icons/footerIcon.png" class="w-10 h-10 p-2 bg-orange-900 rounded-full" viewBox="0 0 24 24" >
                <span class="ml-3 text-xl">Helping Hands</span>
              </a>
              <p class="text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-orange-900 sm:py-2 sm:mt-0 mt-4">© 2022-2023 helpinghands —
                <a href="" class="ml-1" rel="noopener noreferrer" target="_blank">@anushkapradhan</a>
              </p>
              <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start text-orange-900">
                <a>
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-3">
                  <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-3">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                  </svg>
                </a>
                <a class="ml-3">
                  <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                  </svg>
                </a>
              </span>
            </div>
          </footer>

    </center>
</body>
</html>
