<head>
  <title>Details</title>
  <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="bg-white">

<header class="text-orange-100 body-font h-10">
  <div class="fixed px-5 py-1 bg-orange-900 container mx-auto flex flex-wrap  flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <img src="/static/images/icons/icon.png" class="w-10 h-10 text-white p-2 bg-white rounded-full" viewBox="0 0 24 24" >

      <span class="ml-3 text-xl">Helping Hands</span>
    </a>
    <nav class=" flex flex-wrap items-center text-base justify-end md:ml-auto md:mr-20">
      <a class="mr-5 hover:text-gray-900" href="{{ url_for('landingPage') }}">Home</a>
      <a class="mr-5 hover:text-gray-900" href="{{ url_for('user_logout') }}">Logout</a>
    </nav>  
  </div>
</header>

{% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <div id="alertDiv" class="my-6 mx-6 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded" role="alert">
          <strong class="font-bold">Something went wrong!</strong>
          <span class="block sm:inline">{{ message }}</span>
          <span class="absolute top-16 bottom-0 right-10 px-4 py-3">
            <svg onclick="document.getElementById('alertDiv').style.display='none'" class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title>
              <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
              </svg>
          </span>
      </div>
        {% else %}
          <div id="alertDiv" class="my-6 mx-6 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded" role="alert">
            <strong class="font-bold">Yayy!</strong>
            <span class="block sm:inline">{{ message }}</span>
            <span class="absolute top-16 bottom-0 right-10 px-4 py-3">
              <svg onclick="document.getElementById('alertDiv').style.display='none'" class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title>
                <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                </svg>
            </span>
          </div>
        {% endif %}
        {% endfor %}
      {% endif %}
{% endwith %}

<section class=" text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto flex flex-col">
    <form method="POST">

    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label for="name" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">Name*</label>
        <input type="text" id="name" name="name" class="appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter name" required />      
      </div>

      <div class="w-full md:w-1/2 px-3">
        <label for="email" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">Email Address*</label>
        <input type="email" id="email" name="email" class="appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter Email" required />
      </div>
    </div>

  <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label for="contact" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">Contact*</label>
        <input type="text" id="contact" name="contact" class="appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter Contact" required />
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label for="alt_contact" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">Alternate Contact (if any)</label>
        <input type="text" id="alt_contact" name="alt_contact" class="appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter alternate contact" />
      </div>
    </div>

    <div class="flex flex-wrap flex-row -mx-3 mb-2">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label for="address" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">Address</label>
        <textarea rows="3" type="text" id="address" name="address" class="resize-none appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter Address" ></textarea>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label for="city" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">City*</label>
        <input type="text" id="city" name="city" class="appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter city" required />
      </div>
    </div>

    <div class="flex flex-wrap flex-row -mx-3 mb-2">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label for="types" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">Type of Organization*</label>
        <input type="text" id="types" name="types" class="resize-none appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Example: Orphanage/OldageHome/NGO/etc" required />
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label for="state" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">State*</label>
        <input type="text" id="state" name="state" class="appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter state" required />
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full px-3">
        <label for="description" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">description*</label>
        <textarea rows="4" type="text" id="description" name="description" class="resize-none appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter description" required></textarea>
      </div>
  </div>

  <div class="flex flex-wrap flex-row -mx-3 mb-2">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label for="photo" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">Picture (if any)</label>
            <input type="file" id="photo" name="photo" class="appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Choose photo">
          </div>
          <div class="w-full md:w-1/2 px-3">
            <label for="website" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">Website (if any)</label>
            <input type="url" id="website" name="website" class=" appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter website" />
          </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-2">
      <div class="w-full px-3">
        <label for="maps" class="block uppercase tracking-wide text-orange-900 text-xs font-bold mb-2">Location link*</label>
        <input type="text" id="maps" name="maps" class="resize-none appearance-none block w-full bg-orange-50 text-black border border-orange-900 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-orange-100 focus:border-orange-900" placeholder="Enter map link" required />
      </div>
  </div>

  <div class="flex flex-wrap -mx-3 mt-5 mb-6">
    <div class="w-full px-3">
      <input type="submit" value="Submit Details" class="hover:cursor-pointer appearance-none flex mx-auto text-orange-100 bg-orange-900 border-0 py-2 px-8 focus:outline-none hover:bg-orange-800 rounded-full text-lg">
    </div>
  </div>
      </form>
  </div>
</section>




<!-- <form method="POST" enctype="multipart/form-data">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="name">Name*</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Enter name" required />
    <br><br>
    <label for="email">Email Address*</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required />
    <br><br>
    <label for="contact">Contact*</label>
    <input type="text" id="contact" name="contact" class="form-control" placeholder="Enter Contact" required />
    <br><br>
    <label for="alt_contact">Alternate Contact (if any)</label>
    <input type="text" id="alt_contact" name="alt_contact" class="form-control" placeholder="Enter alternate contact" />
    <br><br>
    <label for="address">Address</label>
    <input type="text" id="address" name="address" class="form-control" placeholder="Enter Address" />
    <br><br>
    <label for="city">City*</label>
    <input type="text" id="city" name="city" class="form-control" placeholder="Enter city" required />
    <br><br>
    <label for="state">State*</label>
    <input type="text" id="state" name="state" class="form-control" placeholder="Enter state" required />
    <br><br>
    <label for="types">Types*</label>
    <input type="text" id="types" name="types" class="form-control" placeholder="Enter types" required />
    <br><br>
    <label for="description">description*</label>
    <textarea type="text" id="description" name="description" class="form-control" placeholder="Enter description" required></textarea>
    <br><br>
    <label for="photo">Photo*</label>
    <input type="file" id="file" name="file" class="form-control" placeholder="Choose photo" />
    <br><br>
    <label for="website">Website*</label>
    <input type="url" id="website" name="website" class="form-control" placeholder="Enter website" pattern="http*" />
    <br><br>
    <input type="submit" value="submit org details">
  </div>
</form> -->


<footer  class="text-orange-900 body-font mt-5 object-bottom">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <img src="/static/images/icons/footerIcon.png" class="w-10 h-10 p-2 bg-orange-900 rounded-full" viewBox="0 0 24 24" >
      <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-orange-900 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg> -->
      <span class="ml-3 text-xl">Helping Hands</span>
    </a>
    <p class="text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-orange-900 sm:py-2 sm:mt-0 mt-4">© 2022-2023 helpinghands —
      <a href="" class="ml-1" rel="noopener noreferrer" target="_blank">@anushkapradhan</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start text-orange-900">
      <a>
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a class="ml-3">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a class="ml-3">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a class="ml-3">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer>

</body>