{% extends "base_org.html" %} 
{% block title %}org dashboard{% endblock %} 
{% block content%}


{% if current_user.is_authenticated %}

<section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-10 items-center justify-center flex-col">
          <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="/static/images/orgDashboard.jpg">
          <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-orange-900">{{ org.name }}</h1>
            <p class="mb-8 leading-relaxed">We are so happy you want to start your journey with us. This platform is very user friendly. Our only purpose is to increase your reach and help you in any way possible. Please contact the given email for any inconvenience caused from our end. Thank you!
                <br>~ Team Helping Hands
            </p>
            <!-- <div class="flex justify-center">
              <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
              <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
            </div> -->
          </div>
        </div>
      </section>

<!-- <section class="text-gray-600 body-font">
<div class="container px-0 py-2 mx-auto flex flex-wrap">
        <div class="flex flex-col text-center w-full mb-10">
                <h1 class="sm:text-4xl text-3xl font-medium title-font -mb-5 text-gray-900 bg-orange-100">{{ org.name }}</h1>
        </div>
        <div class="flex flex-wrap md:-m-2 -m-1 px-5">
                <div class="flex flex-wrap w-1/2">
                        <div class="md:p-2 p-1 w-1/2">
                                <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/500x300">
                        </div>
                        <div class="md:p-2 p-1 w-1/2">
                                <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/501x301">
                        </div>
                        <div class="md:p-2 p-1 w-full">
                                <img alt="gallery" class="w-full h-full object-cover object-center block" src="/static/images/orgDashboard.jpg">
                        </div>
                </div>
                <div class="flex flex-wrap w-1/2">
                        <div class="md:p-2 p-1 w-full">
                                <img alt="gallery" class="w-full h-full object-cover object-center block" src="/static/images/increase.jpg">
                        </div>
                        <div class="md:p-2 p-1 w-1/2">
                                <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/502x302">
                        </div>
                        <div class="md:p-2 p-1 w-1/2">
                                <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://dummyimage.com/503x303">
                        </div>
                </div>
        </div>
</div>
</section> -->

{% endif %}


{% endblock %}